a {
  text-decoration: none;
}
ul {
  padding-left: 0px;
}
.dis-none.panel-filter.w-full.p-t-10.show,
.dis-none.panel-search.w-full.p-t-10.p-b-15.show {
  display: block;
}
.menu-desktop li .active {
  color: #6c7ae0;
}
.variationfull {
  display: flex;
  justify-content: flex-start;
}
.variation {
  display: inline-block;
  border: 1px solid #e6e6e6;
  min-width: 40px;
  height: 40px;
  margin-right: 10px !important;
  line-height: 37px !important;
  text-align: center;
  color: #555;
  cursor: pointer;
  font-family: Poppins-Regular;
  font-size: 13px;
  border-radius: 2px;
}
.variation.active {
  background-color: #717fe0;
  color: white;
}
.variation.bg-color-change {
  background-color: #717fe0;
  color: white;
}
.horizontal_slider .slick-arrow {
  z-index: 1;
}
.horizontal_slider .slick-prev {
  left: -2px;
}
.horizontal_slider .slick-next {
  right: 23px;
}
.horizontal_slider .slick-prev:before,
.horizontal_slider .slick-next:before {
  color: rgba(0, 0, 0, 0.5);
  font-size: 45px;
}
.zoom-modal .slick-prev:before,
.zoom-modal .slick-next:before {
  font-size: 45px;
}
.mfp-counter {
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.zoom-modal .slick-dots .slick-active {
  display: inline-block;
}
.zoom-modal .slick-dots li {
  display: none;
}
.js-modal1 .expand_arrow {
  position: absolute;
  left: 51.5%;
  top: 8.3%;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-mobile.shomenu {
  display: block;
}
